.html,body { 
    height: 100vh;
    margin: 0px;
    display: grid;
    place-items: center;
    width: 100%;
}

.container {
    height: 600px;
    width:  600px;
    background: red;
    border-radius: 69%;
    overflow: hidden;
}

.list {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.list-item {
    position: absolute;
    offset-anchor: center;
    height: 100px;
    width: 100px;
    background: #fff;
    transform: rotate(45deg);
}