.html,body { 
    height: 100vh;
    margin: 0px;
    display: grid;
    place-items: center;
    width: 100%;
}

#container {
    width: 600px;
    height: 600px;
}

.circle { 
    fill: none;
    stroke: purple;
    stroke-width:30px;
    filter: blur(10px);
}
